extends layout

!= messages()
block content
 .container
   h2.page-header Annoucment
   p Please add annoucment using the form below
   if errors
      each error, i in errors
        div.alert.alert-danger #{error.msg}
   form(method='post', action='/users/annoucment', enctype='multipart/form-data' autocomplete='on')
      .form-group
         label * Title
         input.form-control(name='title', type='text', placeholder='Enter annoucment title' autocomplete='on')
      .form-group
         label * State
         select.form-control(name='state')
            option(value='AL' selected='AL') Alabama
            option(value='AK') Alaska
            option(value='AZ') Arizona
            option(value='AR') Arkansas
            option(value='CA') California
            option(value='CO') Colorado
            option(value='CT') Connecticut
            option(value='DE') Delaware
            option(value='FL') Florida
            option(value='GA') Georgia
            option(value='HI') Hawaii
            option(value='ID') Idaho
            option(value='IL') Illinois
            option(value='IN') Indiana
            option(value='IA') Iowa
            option(value='KS') Kansas
            option(value='KY') Kentucky
            option(value='LA') Louisiana
            option(value='ME') Maine
            option(value='MD') Maryland
            option(value='MA') Massachusetts
            option(value='MI') Michigan
            option(value='MN') Minnesota
            option(value='MS') Mississippi
            option(value='MO') Missouri
            option(value='MT') Montana
            option(value='NE') Nebraska
            option(value='NV') Nevada
            option(value='NH') New Hampshire
            option(value='NJ') New Jersey
            option(value='NM') New Mexico
            option(value='NY') New York
            option(value='NC') North Carolina
            option(value='ND') North Dakota
            option(value='OH') Ohio
            option(value='OK') Oklahoma
            option(value='OR') Oregon
            option(value='PA') Pennsylvania
            option(value='RI') Rhode Island
            option(value='SC') South Carolina
            option(value='SD') South Dakota
            option(value='TN') Tennessee
            option(value='TX') Texas
            option(value='UT') Utah
            option(value='VT') Vermont
            option(value='VA') Virginia
            option(value='WA') Washington
            option(value='WV') West Virginia
            option(value='WI') Wisconsin
            option(value='WY') Wyoming
      .form-group
         label * Price
         input#price.form-control(name='price', type='text', min="1", placeholder='Enter price' autocomplete='on')
      .form-group
         label * Mortgage/m
         input#mortgage.form-control(name='mortgage', type='text',min="1", placeholder='Enter mortgage of property' autocomplete='on')
      .form-group
         label * Sqft.
         input#sqft.form-control(name='sqft', type='text', min="1", placeholder='Enter square feets of property' autocomplete='on')
      .form-group
         label * Rooms
         input.form-control(name='rooms', type='number', min="1", placeholder='Enter number of rooms' autocomplete='on')
      .form-group
         label * Bathrooms
         input.form-control(name='bathrooms', type='number', min="1", step="1", placeholder='Enter number of bathrooms' autocomplete='on')
      .form-group
         label.radio-inline
         input(type="radio", name="property", value="house", checked=property=="house")
         | * House
         label.radio-inline
         input(type="radio", name="property", value="flat", checked=property=="flat")
         | * Flat
      .form-group#imageWrapper
         label Property Images
         input.property--image--input#propertyImageInput.form-control(name='propertyImages', type='file', multiple)
         
      .panel.panel-default
         #headingTwo.panel-heading(role='tab')
            h4.panel-title
            a#accordion.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#features', aria-expanded='false', aria-controls='features', onclick="scrollBottom();")
               | Features
         #features.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
            .panel-body
               .form-group
                  label TV
                  input.form-control(name='tv', type='number', min=0, value=0, placeholder='Enter number of tvs' autocomplete='on')
               .form-group
                  label Fridge
                  input.form-control(name='fridge', type='number', min=0, value=0, placeholder='Enter number of fridges' autocomplete='on')
               .form-group
                  label Freezer
                  input.form-control(name='freezer', type='number', min=0, value=0, placeholder='Enter number of freezers' autocomplete='on')  
               .form-group
               .checkbox
                     label
                        input(type='checkbox', name="internet", value="true", checked=internet=='internet')
                        |  Internet Access / Wi-Fi
                  .form-group
                  .checkbox
                     label
                        input(type='checkbox', name="basement", value="true", checked=basement=='basement')
                        |  Basement
                  .form-group
                  .checkbox
                     label
                        input(type='checkbox', name="washingMachine", value="true", checked=washingMachine=='washingMachine')
                        |  Washing Machine
      .form-group
         label.text--description(for='description') * Description: 
         textarea#description(name='description', rows='4', cols='50') Please leave a property description!
      input.btn.btn-primary(type='submit', name='submit', value='Submit')

 
      script( src='/javascripts/numeral.js')
      script( src='/javascripts/jquery.js' )
      script( src='/javascripts/annoucment.js' )